@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

  :root {
    --color1: hsl(185, 41%, 84%);
    --color2: hsl(189, 41%, 97%);
    --color3: hsl(172, 67%, 45%);
    --color4: hsl(183, 100%, 15%);
    --color5: hsl(186, 14%, 43%);
    --color6: hsl(184, 14%, 56%);
    --color7: hsl(0, 0%, 100%);
   
  }

  * {
    font-family: 'Space Mono', monospace;
    /* color: #ffffff; */
    text-align: center;
    margin: 0;
    padding: 0;
  }


  body {
    background-color: var(--color1);
  }
.App{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color7);
  width: 30%;
  height: 50%;
  margin:40px auto;
padding: 20px;
border-radius: 5px;
gap:10px;
}
.title {
  font-size: 1.5em;
  text-align: center;
  color: #000000;
  margin-top: 80px;

}

.inputFields {
  display: flex;
  width: 60%;
  height: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  padding: 20px;
  background-color: blueviolet;
}

.outputFields {
  display: flex;
  width: 50%;
  height: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--color4);
  border-radius:5px;

}

.billAmount {
  font-size: 0.4rem;
  color: #000000;
  border-radius: 5px;
  /* background-color: aliceblue; */
  margin-bottom: 10px;
  text-align: left;
}
.billAmount > input {
  width: 104%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid var(--color3);
  margin-top: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-image: url('../src/images/icon-dollar.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  /* padding-left: 40px; */
  background-size: 4%;
}
/* .icon {
  background-image: url("../src/images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
} */

.inputLabel1{
  color: var(--color6);
}
.inputLabel2{
  font-size: 0.4rem;
  /* background-color: antiquewhite; */
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: var(--color6);
}
.tipsTotal{
  display: column;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: black; */
  width: 100%;

}
.tipButtons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 
  width: 100%;
  gap: 5px;
  /* background-color: blue; */
}

.tipButtons > button {
  border: none;
  border-radius: 3px;
  color: var(--color7);
  background-color: var(--color4);
}
.tipButtons > button:hover {
  border: none;
  border-radius: 3px;
  background-color: var(--color3);
}
.custom{
  width:100%;
  border: none;
  border-radius: 3px;
}

.inputLabel3{
font-size: 0.4rem;
/* background-color: aquamarine; */
color: var(--color6);
padding: 0;
margin-top: 10px;
margin-bottom:0;
text-align: left;
}


.amtPeople > input{
  background-image: url('../src/images/icon-person.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px 20px; /* adjust the size value as needed */
  /* padding-left: 57px; */
  padding-top:3px;
  padding-bottom:3px;
  background-size:4%;
  margin-top: 2px;
  border: 1px solid var(--color3);
  border-radius: 5px;
  width: 114%;

}

.outputTitle {
  display: flex;
  flex-direction: column;
}
.outputTitle > p {
 
  padding: 0;
  margin-top: 2px;
  margin-bottom:0;
  text-align: left;
 
  width: 100%
}
.outputTitle > .big {
  font-size:0.6rem ;
  color: var(--color7);
}

.outputTitle > .small {
  font-size:0.5rem ;
  color: var(--color6);
}


.sectionOutput1{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
}
.outputTitle1 {
  display: flex;
  flex-direction: column;
}
.outputTitle1 > p {
 
  padding: 0;
  margin-top: 2px;
  margin-bottom:0;
  text-align: left;
 
  width: 100%
}
.outputTitle1 > .big1 {
  font-size:0.6rem ;
  color: var(--color7);
}

.outputTitle1 > .small1 {
  font-size:0.5rem ;
  color: var(--color6);
  margin-bottom: 60px;
}


.sectionOutput{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
}

.calculatedAmt, .calculatedAmt1{
  color: var(--color3)
}

.resetButton {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: var(--color5);
  color: var(--color7);
  font-size: 0.5rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.resetButton:hover {
  border: none;
  border-radius: 3px;
  background-color: var(--color3);
}